.player-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: inherit;
}

.img-holder{
  width: 400px;
  height: 400px;
  background-color: red
  ;
}

main{
  display: block;
  position: relative;
  height: 50rem;
  display: flex;
  align-items: flex-end;
}


main::after {
  content: "";
  background-image: url(https://picsum.photos/id/1028/1200);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  opacity: 0.75;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}